@font-face {
  font-family: "Ageo";
  src: url("/fonts/Ageo/Ageo.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ageo, Helvetica Neue, sans-serif;
  /* line-height: 1.6; */
  font-size: 18px;
  background-color: #131416;
}

* {
  box-sizing: border-box;
}

.section {
  padding: 10px 173px;
}
.top-section {
  margin-top: 160px;
}

@media screen and (max-width: 600px) {
  .section {
    padding: 2px 10px;
  }
}
